
## Mac OS
.DS_store

##npm packages
node_modules/

##webpack output bundle
public/dist/bundle.js

##config
googleMaps.config.js

##vscode
.vscode/

##fakeData
*.txt

##newrelic
newrelic.js
newrelic_agent.log

Dockerfile
docker-compose.yml
coverage/
.nyc_output/
.dockerignore
stress.yml